extends ../template

block variables
    - var title = 'Статьи'
    - var contactForm = true

block content
    main
        .container-wrap
            .container-item
                .breadcrumbs
                    .breadcrumbs__item Главная
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    a(href="#").breadcrumbs__item Статьи
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
        
        section.container-wrap.article-list__wrap
            .container-item.article-list
                h1.h1.article-list__h Статьи

                ul.articles.article-list__articles
                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                .pagination.pagination_ctnter
                    .pagination__prev
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    .pagination__number 1
                    a(href="#").pagination__number 2
                    a(href="#").pagination__number 3
                    a(href="#").pagination__number 4
                    a(href="#").pagination__number ...
                    a(href="#").pagination__next
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")


