doctype html
html
    head
        meta(charset="utf-8")
        title 
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
        link(rel="stylesheet" type="text/css" href="assets/styles/accordion.min.css")
        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
        
    body
        main.container-wrap.event-page__main
            .container-item.event-page
                .event-page__head
                    .event-page__head-left
                        .event-page__head-title
                            .event-page__head-name Вебинар
                            .event-page__head-time
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-date")
                                span 01 января 2021
                            .event-page__head-time
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-time")
                                span с 17:00 до 19:30
                        h1.event-page__head-h Восстановление дистальной группы зубов у пациентов с парафункциями жевательных мышц. Бруксизм. Особенности выбора композитного материала
                        .event-page__head-pay Регистрационный взнос: 3 000 ₽
                        .event-page__head-button-wrap
                            button.button.button_green Записаться
                            button.button.button_ghost-double
                                .button_ghost__top Пригласить коллегу
                                .button_ghost__bot +15 баллов
                    
                    .video-main__linc-body.event-page__video
                        .video-main__linc-play
                            svg(width="22", height="22")
                                use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                        img(src="./assets/images/img1.jpg", alt="Восстановление дистальной группы зубов у пациентов с парафункциями жевательных мышц. Бруксизм. Особенности выбора композитного материала").video-main__linc-img
                
                .event-page__body
                    .event-page__block
                        h3.event-page__block-h Спикер
                        .event-page__spicer
                            img(width="150", height="220", src="./assets/images/img1.jpg", alt="Вишнякова Марина Александровна (Москва)").event-page__spicer-image
                            .event-page__spicer-text-wrap
                                h4.event-page__spicer-h Вишнякова Марина Александровна (Москва)
                                p.event-page__spicer-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                    
                    .event-page__block
                        h3.event-page__block-h За вебинар начисляется:
                        .event-page__bali.wat(data-tooltip) 25 баллов НМО
                            .tooltip 25 баллов НМО ¯\_(ツ)_/¯
                        .event-page__bali.wat(data-tooltip) 10 баллов Протеко
                            .tooltip 10 баллов Протеко ¯\_(ツ)_/¯
                        .event-page__block-pay Регистрационный взнос: 3 000 ₽
                        .event-page__head-button-wrap
                            button.button.button_green Записаться
                            button.button.button_ghost-double
                                .button_ghost__top Пригласить коллегу
                                .button_ghost__bot +15 баллов

                    .event-page__block
                        h3.event-page__block-h По всем организационным вопросам просим Вас обращаться:
                        .event-page__contact Клецова Ольга Владимировна
                        a(href="tel:+79319621815").event-page__contact +7 (931) 962-18-15
                        a(href="mailto:chumakova@protecodent.ru").event-page__contact chumakova@protecodent.ru

                    .event-page__block
                        h3.event-page__block-h Основные моменты
                        ul.event-page__block-list
                            li.event-page__block-list-item Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.
                            li.event-page__block-list-item Подготовка полости – воздушно-абразивная и медикаментозная обработка, прокладки, спирт и последствия для бондинга.
                            li.event-page__block-list-item Постоперационнная чувствительность и гиперчувствительность твердых тканей зубов. Механизмы действия десенситайзеров, их эффективность и влияние на адгезию реставраций.
                            li.event-page__block-list-item Нюансы работы с самопротравливающими адгезивными системами.
                            li.event-page__block-list-item Выбор стоматологических материалов для окклюзионной терапии. Сравнительная характеристика наиболее популярных композитов.

                    .event-page__block
                        .event-page__info-wrap
                            .event-page__info
                                .event-page__info-head Продолжительность
                                .event-page__info-text 2 часа
                            .event-page__info
                                .event-page__info-head Место проведения
                                .event-page__info-text On-line

                a(href="#").linc-arrow 
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    span Вернуться назад

    



    //- https://imask.js.org
    script(src="assets/scripts/imask.min.js")
    
    //- https://github.com/michu2k/Accordion
    script(src="assets/scripts/accordion.min.js")

    //- https://swiperjs.com/
    script(src="assets/scripts/swiper-bundle.min.js")

    //- https://github.com/francoischalifour/medium-zoom
    script(src="assets/scripts/medium-zoom.min.js")

    //- https://github.com/WICG/focus-visible
    script(src="assets/scripts/focus-visible.min.js")
    
    script(src="assets/scripts/main.js")
