extends ../template

block variables
    - var title = 'FAQ'
    - var contactForm = true

block content
    main
        .container-wrap
            .container-item
                .breadcrumbs
                    .breadcrumbs__item Главная
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    a(href="#").breadcrumbs__item FAQ
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
        
        section.container-wrap.faq-page__wrap
            .container-item.faq-page                
                h1.h1.faq-page__h FAQ

                ul.faq
                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как проходят мероприятия на платформе?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как я могу оплатить мероприятие, на которое хочу попасть?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как мне прислать свой кейс и какие к нему требования?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Я могу смотреть купленные вебинары после их завершения?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как проходят мероприятия на платформе?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как я могу оплатить мероприятие, на которое хочу попасть?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

                    li.faq__item.ac
                        .faq__head.ac-header.ac-trigger Как я могу оплатить мероприятие, на которое хочу попасть?
                            svg(width="22", height="14").faq__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        .faq__body.ac-panel
                            p.faq__body-text Да. Все купленные вебинары остаются у вас в личном кабинете в разделе Мои мероприятия и Вы всегда можете пересмотреть их и лучше разобраться в рассматриваемом вопросе. 

        include ../components/mailing.pug