extends ../template

block variables
    - var title = 'Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»'
    - var contactForm = true

block content
    .container-wrap
        .container-item
            .breadcrumbs
                a(href="#").breadcrumbs__item Главная
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                a(href="#").breadcrumbs__item Галерея
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                .breadcrumbs__item Выставка «Дентал Экспо 2020»
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
    main
        section.container-wrap.gallery-page__wrap
            .container-item.gallery-page
                h1.gallery-page__h Выставка «Дентал Экспо 2020»
                .gallery-page__text
                    p 21-24 сентября в Москве состоялся международный стоматологический форум и выставка «Дентал Экспо 2020». Компания PROTECO, постоянный участник ключевых стоматологических мероприятий, представила на стенде свою продукцию:  композиты и адгезивы Tokuyama Dental, инструменты Aesculap,  расходные материалы Clean+Safe и дезинфицирующие средства Dezaurum.

                .gallery-page__gallery(data-list-gallery)
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")
                    a(href="./assets/images/img1.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img1.jpg", alt="Выставка «Дентал Экспо 2020»")
                    a(href="./assets/images/img2.jpg", target="_blank", data-img-gallery, data-sub-html="<p>Выставка «Дентал Экспо 2020»</p>").gallery-page__gallery-image
                        img(src="./assets/images/img2.jpg", alt="Выставка «Дентал Экспо 2021»")

                a(href="#").linc-arrow.podcast-pag__beck
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    span Вернуться назад


