extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        section.swiper-container.main-slider
            .swiper-wrapper
                <!-- Если добавить ещё элементов с классом "swiper-slide" то включится слайдер -->
                .swiper-slide.container-wrap.main-slider__item-wrap
                    .container-item.main-slider__item
                        h1.h1.main-slider__h Пройди курс обучения по сниженой цене
                        a(href="#").button.button_wheat.main-slider__button Подробнее
                        svg(width="648", height="648").main-slider__logo
                            use(xlink:href="./assets/images/sprite.svg#logo-min")

        //- Мероприятия
        section.container-wrap.events__wrap
            .container-item.events
                h2.h1.events__h Мероприятия

                button(data-active-control="filter1").button.events__filter-button-active
                    svg(width="24", height="16")
                        use(xlink:href="./assets/images/sprite.svg#icon-filter")
                    span Фильтры

                .events__filter(data-active-block="filter1")
                    button(data-active-control="filter1").events__filter-close.close-button
                        svg(width="20", height="20")
                            use(xlink:href="./assets/images/sprite.svg#icon-cancel-button")

                    .events__filter-h
                        svg(width="24", height="16")
                            use(xlink:href="./assets/images/sprite.svg#icon-filter")
                        h4 Фильтры

                    select(name="").event-select
                        option(value="1").event-select__first Все мероприятия
                        option(value="2") Мероприятия 2
                        option(value="3") Мероприятия 3
                    select(name="").event-select
                        option(value="1").event-select__first Все продукты
                        option(value="2") Продукты 2
                        option(value="3") Продукты 3
                    select(name="").event-select
                        option(value="1").event-select__first Все спикеры
                        option(value="2") Спикеры 2
                        option(value="3") Спикеры 3
                    
                    input(type="text")#date-range.events__data-range

                    button(data-active-control="filter1").button.events__filter-button Применить фильтрацию
                
                ul.events__list
                    li.event-card.datepicker-main__wrap
                        .datepicker-main
            
                    li.event-card
                        .event-card__head
                            svg(width="45", height="45").event-card__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-webinar")
                            span.event-card__head-text Вебинар
                            .event-card__head-label 
                                span Доступно в курсе
                        .event-card__body
                            .event-card__time-wrap
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-date")
                                    span 01 января 2021
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-time")
                                    span с 17:00 до 19:30
                            h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                            img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                            .event-card__person-text-wrap
                                .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                                .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            .event-card__bot
                                .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                                a(href="#").button Записаться
                        
                        .event-card__program
                            .event-card__program-head Программа курса
                            ol.event-card__program-list
                                li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                                li.event-card__program-item Диагностика бруксизма
                                li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                                li.event-card__program-item Общие принципы лечения бруксизма
                    
                    li.event-card
                        .event-card__head
                            svg(width="45", height="45").event-card__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-webinar")
                            span.event-card__head-text Вебинар
                            .event-card__head-label 
                                span Доступно в курсе
                        .event-card__body
                            .event-card__time-wrap
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-date")
                                    span 01 января 2021
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-time")
                                    span с 17:00 до 19:30
                            h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                            img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                            .event-card__person-text-wrap
                                .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                                .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            .event-card__bot
                                .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                                a(href="#").button Записаться
                        
                        .event-card__program
                            .event-card__program-head Программа курса
                            ol.event-card__program-list
                                li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                                li.event-card__program-item Диагностика бруксизма
                                li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                                li.event-card__program-item Общие принципы лечения бруксизма
                    
                    li.event-card
                        .event-card__head
                            svg(width="45", height="45").event-card__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-webinar")
                            span.event-card__head-text Вебинар
                            .event-card__head-label 
                                span Доступно в курсе
                        .event-card__body
                            .event-card__time-wrap
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-date")
                                    span 01 января 2021
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-time")
                                    span с 17:00 до 19:30
                            h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                            img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                            .event-card__person-text-wrap
                                .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                                .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            .event-card__bot
                                .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                                a(href="#").button Записаться
                        
                        .event-card__program
                            .event-card__program-head Программа курса
                            ol.event-card__program-list
                                li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                                li.event-card__program-item Диагностика бруксизма
                                li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                                li.event-card__program-item Общие принципы лечения бруксизма
                    
                    li.event-card
                        .event-card__head
                            svg(width="45", height="45").event-card__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-webinar")
                            span.event-card__head-text Вебинар
                            .event-card__head-label 
                                span Доступно в курсе
                        .event-card__body
                            .event-card__time-wrap
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-date")
                                    span 01 января 2021
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-time")
                                    span с 17:00 до 19:30
                            h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                            img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                            .event-card__person-text-wrap
                                .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                                .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            .event-card__bot
                                .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                                a(href="#").button Записаться
                        
                        .event-card__program
                            .event-card__program-head Программа курса
                            ol.event-card__program-list
                                li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                                li.event-card__program-item Диагностика бруксизма
                                li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                                li.event-card__program-item Общие принципы лечения бруксизма
                    
                    //- li.event-card
                    //-     .event-card__head.event-card__head_master-class
                    //-         svg(width="45", height="45").event-card__head-icon
                    //-             use(xlink:href="./assets/images/sprite.svg#icon-master-class")
                    //-         span.event-card__head-text Мастер-класс
                        
                    //-     .event-card__body
                    //-         .event-card__time-wrap
                    //-             .event-card__time
                    //-                 svg(width="17", height="17")
                    //-                     use(xlink:href="./assets/images/sprite.svg#icon-date")
                    //-                 span 01 января 2021
                    //-             .event-card__time
                    //-                 svg(width="17", height="17")
                    //-                     use(xlink:href="./assets/images/sprite.svg#icon-time")
                    //-                 span с 17:00 до 19:30
                            
                    //-         h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                    //-         .event-card__person
                    //-             img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                    //-             .event-card__person-text-wrap
                    //-                 .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                    //-                 .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            
                    //-         .event-card__program
                    //-             .event-card__program-head Программа курса
                    //-             ol.event-card__program-list
                    //-                 li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                    //-                 li.event-card__program-item Диагностика бруксизма
                    //-                 li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                    //-                 li.event-card__program-item Общие принципы лечения бруксизма
                                        
                    //-     .event-card__bot
                    //-         .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                    //-         a(href="#").button Записаться
                    
                    //- li.event-card
                    //-     .event-card__head.event-card__head_seminar
                    //-         svg(width="45", height="45").event-card__head-icon
                    //-             use(xlink:href="./assets/images/sprite.svg#icon-seminar")
                    //-         span.event-card__head-text Семинар
                        
                    //-     .event-card__body
                    //-         .event-card__time-wrap
                    //-             .event-card__time
                    //-                 svg(width="17", height="17")
                    //-                     use(xlink:href="./assets/images/sprite.svg#icon-date")
                    //-                 span 01 января 2021
                    //-             .event-card__time
                    //-                 svg(width="17", height="17")
                    //-                     use(xlink:href="./assets/images/sprite.svg#icon-time")
                    //-                 span с 17:00 до 19:30
                            
                    //-         h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                    //-         .event-card__person
                    //-             img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                    //-             .event-card__person-text-wrap
                    //-                 .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                    //-                 .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            
                    //-         .event-card__program
                    //-             .event-card__program-head Программа курса
                    //-             ol.event-card__program-list
                    //-                 li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                    //-                 li.event-card__program-item Диагностика бруксизма
                    //-                 li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                    //-                 li.event-card__program-item Общие принципы лечения бруксизма
                                        
                    //-     .event-card__bot
                    //-         .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                    //-         a(href="#").button Записаться
                    
                    //- li.event-card
                        .event-card__head.event-card__head_lecture
                            svg(width="45", height="45").event-card__head-icon
                                use(xlink:href="./assets/images/sprite.svg#icon-lecture")
                            span.event-card__head-text Лекция
                            .event-card__head-label 
                                span Доступно в курсе       
                                        
                        .event-card__body
                            .event-card__time-wrap
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-date")
                                    span 01 января 2021
                                .event-card__time
                                    svg(width="17", height="17")
                                        use(xlink:href="./assets/images/sprite.svg#icon-time")
                                    span с 17:00 до 19:30
                            
                            h4.event-card__heading Круглый стол с врачом консультантом Е.Мендоса «Работа над ошибками в прямой композитной реставрации. Нюансы использования Estelite»
                            .event-card__person
                                img(width="80", height="115", src="./assets/images/img1.jpg", alt="Летягина Юлия Александровна").event-card__person-img
                                .event-card__person-text-wrap
                                    .event-card__person-name Летягина Юлия Александровна (Санкт-Петербург)
                                    .event-card__person-text Ведущий врач-стоматолог-терапевт, главный врач стоматологической клиники «Феникс». Особая специализация: пациенты, имеющие парафункции жевательных мышц и заболевания ВНЧС
                            
                            .event-card__program
                                .event-card__program-head Программа курса
                                ol.event-card__program-list
                                    li.event-card__program-item Основные понятия и определения парафункций жевательных мышц. Определение бруксизма
                                    li.event-card__program-item Диагностика бруксизма
                                    li.event-card__program-item Клинические проявления. От абфракций до неинфекционного периодонтита (травматическая окклюзия)
                                    li.event-card__program-item Общие принципы лечения бруксизма
                                        
                        .event-card__bot
                            .event-card__bot-pey Регистрационный взнос: 3 000 ₽
                            a(href="#").button Записаться
                    
                a(href="").button.button_ghost.events__button Смотреть все

        //- Видео
        section.container-wrap.video-main__wrap
            .container-item.video-main
                .video-main__head
                    h2.h1.video-main__h Видео
                    .video-main__filter
                        label.radio-button
                            input(type="radio", name="video", checked).radio-button__input
                            .radio-button__button Вебинары
                        label.radio-button
                            input(type="radio", name="video").radio-button__input
                            .radio-button__button Backstage
                        label.radio-button
                            input(type="radio", name="video").radio-button__input
                            .radio-button__button Кейсы

                ul.video-main__body
                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                    li.video-main__item
                        a(href="").video-main__linc
                            .video-main__linc-body
                                .video-main__linc-play
                                    svg(width="22", height="22")
                                        use(xlink:href="./assets/images/sprite.svg#icon-button-play")
                                img(src="./assets/images/img1.jpg", alt="").video-main__linc-img

                            .video-main__linc-bot
                                p.video-main__linc-text Вебинар №3 «Хирургическое лечение воспалительных заболеваний пародонта»
                                span.button.video-main__linc-button Смотреть

                a(href="").button.button_ghost.video-main__button Смотреть все
        
        
        include ../components/mailing.pug 
        
        //- Статьи
        section.container-wrap.articles-main__wrpa
            .container-item.articles-main
                h2.h1.articles-main__h Статьи

                ul.articles
                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                    li.articles__item
                        a(href="").articles__linc
                            img(src="./assets/images/img1.jpg", alt="Клинические аспекты герметизма прямых композитных реставраций").articles__img
                            .articles__text-wrap
                                .articles__head
                                    span.articles__date 01 января 2021
                                    .articles__views
                                        svg(width="18", height="11")
                                            use(xlink:href="./assets/images/sprite.svg#icon-eye")
                                        span 1254
                                h3.articles__h Клинические аспекты герметизма прямых композитных реставраций
                                p.articles__text Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимальноинвазивного подхода.

                a(href="").button.button_ghost.articles-main__button Смотреть все
        
        //- Наши учебные центры
        include ../components/training-centers.pug 

        //- Отзывы
        section.container-wrap.reviews__wrap
            .container-item.reviews
                h2.h1.reviews__h Отзывы
                .reviews-slider__wrap
                    .swiper-container.reviews-slider
                        .swiper-wrapper
                            .swiper-slide
                                .reviews-slider__item
                                    svg(width="32", height="32").reviews-slider__quotes
                                        use(xlink:href="./assets/images/sprite.svg#icon-quotes")
                                    h3.reviews-slider__h Все очень понравилось
                                    p.reviews-slider__text Психоанализ транслирует параллельный закон, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Герменевтика отражает эриксоновский гипноз. Воспитание изящно усиливает декаданс. Арифметическая прогрессия монотонно притягивает вектор.
                                    .reviews-slider__star(data-star="7")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                    img(width="120", height="120", src="./assets/images/img1.jpg", alt="Артем Артемов").reviews-slider__img
                                    span.reviews-slider__name Артем Артемов
                            .swiper-slide
                                .reviews-slider__item
                                    svg(width="32", height="32").reviews-slider__quotes
                                        use(xlink:href="./assets/images/sprite.svg#icon-quotes")
                                    h3.reviews-slider__h Все очень понравилось
                                    p.reviews-slider__text Психоанализ транслирует параллельный закон, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Герменевтика отражает эриксоновский гипноз. Воспитание изящно усиливает декаданс. Арифметическая прогрессия монотонно притягивает вектор.
                                    .reviews-slider__star(data-star="9")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                    img(width="120", height="120", src="./assets/images/img1.jpg", alt="Артем Артемов").reviews-slider__img
                                    span.reviews-slider__name Артем Артемов
                            .swiper-slide
                                .reviews-slider__item
                                    svg(width="32", height="32").reviews-slider__quotes
                                        use(xlink:href="./assets/images/sprite.svg#icon-quotes")
                                    h3.reviews-slider__h Все очень понравилось
                                    p.reviews-slider__text Психоанализ транслирует параллельный закон, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Герменевтика отражает эриксоновский гипноз. Воспитание изящно усиливает декаданс. Арифметическая прогрессия монотонно притягивает вектор.
                                    .reviews-slider__star(data-star="4")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                    img(width="120", height="120", src="./assets/images/img1.jpg", alt="Артем Артемов").reviews-slider__img
                                    span.reviews-slider__name Артем Артемов
                            .swiper-slide
                                .reviews-slider__item
                                    svg(width="32", height="32").reviews-slider__quotes
                                        use(xlink:href="./assets/images/sprite.svg#icon-quotes")
                                    h3.reviews-slider__h Все очень понравилось
                                    p.reviews-slider__text Психоанализ транслирует параллельный закон, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Герменевтика отражает эриксоновский гипноз. Воспитание изящно усиливает декаданс. Арифметическая прогрессия монотонно притягивает вектор.
                                    .reviews-slider__star(data-star="10")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                    img(width="120", height="120", src="./assets/images/img1.jpg", alt="Артем Артемов").reviews-slider__img
                                    span.reviews-slider__name Артем Артемов
                            .swiper-slide
                                .reviews-slider__item
                                    svg(width="32", height="32").reviews-slider__quotes
                                        use(xlink:href="./assets/images/sprite.svg#icon-quotes")
                                    h3.reviews-slider__h Все очень понравилось
                                    p.reviews-slider__text Психоанализ транслирует параллельный закон, это же положение обосновывал Ж.Польти в книге "Тридцать шесть драматических ситуаций". Герменевтика отражает эриксоновский гипноз. Воспитание изящно усиливает декаданс. Арифметическая прогрессия монотонно притягивает вектор.
                                    .reviews-slider__star(data-star="7")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                        svg(width="17", height="16")
                                            use(xlink:href="./assets/images/sprite.svg#icon-star")
                                    img(width="120", height="120", src="./assets/images/img1.jpg", alt="Артем Артемов").reviews-slider__img
                                    span.reviews-slider__name Артем Артемов

                    .reviews-slider__pagination    

                    .reviews-slider__prev
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")

                    .reviews-slider__next
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")



        //- section.container-wrap
            .container-item


