doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
        link(rel="stylesheet" type="text/css" href="assets/styles/accordion.min.css")
        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
        
    body
        svg(width="205", height="40")
            use(xlink:href="./assets/images/sprite.svg#main-logo")
        
        ul.map
            li
                a(href="index.html") Главная
            li
                a(href="events.html") Мероприятия
            li
                a(href="events-archiv.html") Архив мероприятий 
            li
                a(href="speakers.html") Спикеры
            li
                a(href="article.html") Статьи
            li
                a(href="article-page.html") Статьи страница
            li
                a(href="event-page.html") Вебинар
            li
                a(href="event-page-go.html") Вебинар идет
            li
                a(href="event-page-inside.html") Мероприятие внутри
            li
                a(href="video-list.html") Видео
            li
                a(href="video-page.html") Видео страница
            li
                a(href="podcast-list.html") Аудиоподкасты
            li
                a(href="podcast-page.html") Аудиоподкаст страница
            li
                a(href="course-list.html") Курсы
            li
                a(href="course-pages.html") Базовый курс
            li
                a(href="gallery-list.html") Галерея
            li
                a(href="gallery-page.html") Выставка «Дентал Экспо 2020»
            li
                a(href="tokuyama-dental.html") Клуб Tokuyama Dental
            li
                a(href="training-centers.html") Наши учебные центры
            li
                a(href="faq.html") FAQ
            li
                a(href="regist.html") Регистрация
            li
                a(href="regist-ok.html") Регистрация успешно
            li
                a(href="login.html") Войти
            li
                a(href="lk-events.html") Личный кабинет Мои мероприятия
            li
                a(href="404.html") 404


