extends ../template

block variables
    - var title = 'Клуб Tokuyama Dental'
    - var contactForm = true

block content
    .container-wrap
        .container-item
            .breadcrumbs
                a(href="#").breadcrumbs__item Главная
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                .breadcrumbs__item Клуб Tokuyama Dental
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
    main
        section.container-wrap.t-dental__wrap
            .container-item.t-dental
                h1.t-dental__h Клуб Tokuyama Dental
                
                img(src="./assets/images/img1.jpg", alt="Клуб Tokuyama Dental").t-dental__img
                
                .t-dental__text
                    p 21-24 сентября в Москве состоялся международный стоматологический форум и выставка «Дентал Экспо 2020». Компания PROTECO, постоянный участник ключевых стоматологических мероприятий, представила на стенде свою продукцию:  композиты и адгезивы Tokuyama Dental, инструменты Aesculap,  расходные материалы Clean+Safe и дезинфицирующие средства Dezaurum.
                    p Ежедневно в формате нон-стоп проходили консультации врачей-стоматологов по продуктам компании. Особый интерес  вызвали три готовящихся к появлению на российском рынке продукта Tokuyama Dental - низкомодульный композит с 3 степенями текучести Estelite Universal Flow, композит Omnichroma, один оттенок которого подстраивается под любой оттенок зуба и Estelite Bulk Fill Flow, позволяющий проводить эстетическую реставрацию в 1 слой глубиной до 4 мм. Все новинки появятся в продаже в конце 2020-начале 2021 года.
                    p Нововведением  этой выставки стало то, что все обучающие мероприятия были переведены в онлайн-режим. В дни работы выставки состоялось 7 вебинаров, а в конце каждого дня мы проводили розыгрыши призов продукции, представленной на стенде. Получить доступы к обучению можно было прямо на стенде компании.
                    p Рады поделиться с вами фотоотчетом и до встречи на Дентал Салон 2021!

                .reviews-slider__wrap
                    .swiper-container.slider_nav.t-dental__slider
                        .swiper-wrapper(data-list-gallery)
                            .swiper-slide
                                a.slider_nav__img(href="./assets/images/img1.jpg", data-img-gallery, data-sub-html="<p>Выставка «Клуб Tokuyama Dental»</p>")
                                    img(src="./assets/images/img1.jpg", alt="Клуб Tokuyama Dental")
                            .swiper-slide
                                a.slider_nav__img(href="./assets/images/img2.jpg", data-img-gallery, data-sub-html="<p>Выставка «Клуб Tokuyama Dental»</p>")
                                    img(src="./assets/images/img2.jpg", alt="Клуб Tokuyama Dental")
                            .swiper-slide
                                a.slider_nav__img(href="./assets/images/img1.jpg", data-img-gallery, data-sub-html="<p>Выставка «Клуб Tokuyama Dental»</p>")
                                    img(src="./assets/images/img1.jpg", alt="Клуб Tokuyama Dental")
                            .swiper-slide
                                a.slider_nav__img(href="./assets/images/img2.jpg", data-img-gallery, data-sub-html="<p>Выставка «Клуб Tokuyama Dental»</p>")
                                    img(src="./assets/images/img2.jpg", alt="Клуб Tokuyama Dental")
                            .swiper-slide
                                a.slider_nav__img(href="./assets/images/img1.jpg", data-img-gallery, data-sub-html="<p>Выставка «Клуб Tokuyama Dental»</p>")
                                    img(src="./assets/images/img1.jpg", alt="Клуб Tokuyama Dental")

                    .slider_nav__el

                    .reviews-slider__prev
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")

                    .reviews-slider__next
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")

        section.container-wrap.t-dental-form-page__wrap
            .container-item.t-dental-form-page
                .t-dental-form
                    .t-dental-form__img
                        img(src="./assets/images/form-img1.jpg")
                    .t-dental-form__body
                        h3.t-dental-form__h Стань участником клуба Tokuyama Dental

                        form.t-dental-form__form
                            input(type="text", name="", placeholder="Ваше имя*", required).input.t-dental-form__form-item_05
                            input(type="email", name="", placeholder="E-mail*", required).input.t-dental-form__form-item_05
                            input(type="text", name="", placeholder="Название организации*", required).input
                            input(type="text", name="", placeholder="Ваш город*", required).input.t-dental-form__form-item_05
                            input(type="tel", name="", placeholder="Телефон*", required).input.t-dental-form__form-item_05
                            
                            textarea(name="", placeholder="Комментарий").input
                            
                            p.popups__user-agreement Нажимая на кнопку, я подтверждаю, что согласен на обработку моих персональных данных, а также с 
                                a(href="#") Пользовательским соглашением
                            
                            button(type="submit").button.t-dental-form__form-button Отправить
