extends ../template

block variables
    - var title = 'Наши учебные центры'
    - var contactForm = true

block content
    main
        .container-wrap
            .container-item
                .breadcrumbs
                    .breadcrumbs__item Главная
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    a(href="#").breadcrumbs__item Наши учебные центры
                        svg(width="14", height="8")
                            use(xlink:href="./assets/images/sprite.svg#icon-arrow")
        
        section.container-wrap.centers-page__wrap
            .container-item.centers-page
                h1.h1.centers-page__h Наши учебные центры

                .speakers-page__filter
                    label.radio-button
                        input(type="radio", name="video", checked).radio-button__input
                        .radio-button__button Москва
                    label.radio-button
                        input(type="radio", name="video").radio-button__input
                        .radio-button__button Санкт-Петербург
                    label.radio-button
                        input(type="radio", name="video").radio-button__input
                        .radio-button__button Онлайн

                ul.centers-page__list
                    li.centers-page__item
                        .centers-page__map
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5ed79c0095c6645bd3b5969c01d55c60448b57898c0f1541344553efb2b6ef75&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=false"></script>
                        .centers-page__content
                            h3.centers-page__item-h Учебный центр в г. Москва
                            .centers-page__item-icon-text
                                svg(width="18", height="20")
                                    use(xlink:href="./assets/images/sprite.svg#icon-metro")
                                span Проспект Андропова 18, к.1
                            
                            .centers-page__item-icon-text
                                svg(width="18", height="20")
                                    use(xlink:href="./assets/images/sprite.svg#icon-point")
                                span Технопарк
                            
                            .centers-page__item-text
                                p В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. Следует добавить, что и другие генетические типы четвертичных отложений фирн фоссилизирует стеклянный надвиг.
                            
                            a(href="tel:+79319621815").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-phone")
                                span +7 (931) 962-18-15
                            
                            a(href="mailto:info@protecodent.ru").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-email")
                                span info@protecodent.ru
                            
                            .centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-time")
                                span Режим работы: <br>Пн. - Чт.: 9.00 - 17.30 <br>Пт.: 9.00 - 17.00
                            
                    li.centers-page__item
                        .centers-page__map
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5ed79c0095c6645bd3b5969c01d55c60448b57898c0f1541344553efb2b6ef75&amp;lang=ru_RU&amp;scroll=false"></script>
                        .centers-page__content
                            h3.centers-page__item-h Учебный центр в г. Москва
                            .centers-page__item-icon-text
                                svg(width="18", height="20")
                                    use(xlink:href="./assets/images/sprite.svg#icon-metro")
                                span Проспект Андропова 18, к.1
                            
                            .centers-page__item-icon-text
                                svg(width="18", height="20")
                                    use(xlink:href="./assets/images/sprite.svg#icon-point")
                                span Технопарк
                            
                            .centers-page__item-text
                                p В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. Следует добавить, что и другие генетические типы четвертичных отложений фирн фоссилизирует стеклянный надвиг.
                            
                            a(href="tel:+79319621815").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-phone")
                                span +7 (931) 962-18-15
                            
                            a(href="mailto:info@protecodent.ru").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-email")
                                span info@protecodent.ru
                            
                            .centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-time")
                                span Режим работы: <br>Пн. - Чт.: 9.00 - 17.30 <br>Пт.: 9.00 - 17.00
                            
                    li.centers-page__item
                        .centers-page__content
                            h3.centers-page__item-h Учебный центр Онлайн
                            
                            .centers-page__item-text
                                p В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. Следует добавить, что и другие генетические типы четвертичных отложений фирн фоссилизирует стеклянный надвиг.
                                p Следует добавить, что и другие генетические типы четвертичных отложений фирн фоссилизирует стеклянный надвиг.
                            
                            a(href="tel:+79319621815").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-phone")
                                span +7 (931) 962-18-15
                            
                            a(href="mailto:info@protecodent.ru").centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-email")
                                span info@protecodent.ru
                            
                            .centers-page__item-icon-text
                                svg(width="17", height="17")
                                    use(xlink:href="./assets/images/sprite.svg#icon-time")
                                span Режим работы: <br>Пн. - Чт.: 9.00 - 17.30 <br>Пт.: 9.00 - 17.00


                .order-training.centers-page__order-training
                    svg(width="140", height="140").order-training__logo
                        use(xlink:href="./assets/images/sprite.svg#logo-min")
                    .order-training__wrap-text
                        h3.order-training__h Учебный центр Онлайн
                        p.order-training__p В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. Следует добавить, что и другие генетические типы четвертичных отложений фирн фоссилизирует стеклянный надвиг. Фраджипэн, особенно в речных долинах, повсеместно смещает педон.
                        button(data-active-control="popup1").button.order-training__button Заказать обучение

        include ../components/mailing.pug



