extends ../template

block variables
    - var title = 'Вебинар №4 «Ортопедическая реабилитация пациентов с пародонтитом в анамнезе»'
    - var contactForm = true

block content
    .container-wrap
        .container-item
            .breadcrumbs
                a(href="#").breadcrumbs__item Главная
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                a(href="#").breadcrumbs__item Видео
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                .breadcrumbs__item Вебинар №4 «Ортопедическая реабилитация пациентов с пародонтитом в анамнезе»
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
    main
        section.container-wrap.podcast-page__wrap
            .container-item.podcast-page
                h1.podcast-pag__h Вебинар №4 «Ортопедическая реабилитация пациентов с пародонтитом в анамнезе»

                .podcast-pag__audio-player.video-player
                    <iframe width="770" height="430" src="https://www.youtube.com/embed/ZRWhAWQH7L8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                h2.podcast-pag__h Спикер
                .podcast-page__person
                    img(src="./assets/images/img1.jpg", alt="Вишнякова Марина Александровна (Москва)").podcast-page__person-img
                    .podcast-page__person-wrap
                        .podcast-page__person-name Вишнякова Марина Александровна (Москва)
                        .podcast-page__person-post Ассистент кафедры клинической стоматологии ГБОУ ВПО МГМСУ им. Евдокимова А.И.
                        a(href="#").linc-arrow.linc-arrow_r
                            span Мероприятия спикера
                            svg(width="14", height="8")
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                        a(href="#").linc-arrow.linc-arrow_r
                            span Материалы спикера
                            svg(width="14", height="8")
                                use(xlink:href="./assets/images/sprite.svg#icon-arrow")

                h2.podcast-pag__h Описание
                p.podcast-pag__p Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимально-инвазивного подхода.
                p.podcast-pag__p Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимально-инвазивного подхода.
                p.podcast-pag__p Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимально-инвазивного подхода. Препарироавние – современный взгляд. Контроль достаточности препарирования кариозных и некариозных полостей в концепции минимально-инвазивного подхода

                .podcast-pag__h За прослушивание аудиоподкаста начисляется 25 баллов 

                a(href="#").linc-arrow.podcast-pag__beck
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
                    span Материалы спикера

        section.container-wrap.podcast-page__podcast-list-wrap
            .container-item.podcast-list                
                h1.h1.podcast-list__h Аудиоподкасты
                
                ul.podcast-list__list
                    li.podcast-list__list-item
                        h4.podcast-list__list-h Вебинар №4 «Ортопедическая реабилитация пациентов с пародонтитом в анамнезе»
                        .podcast-list__list-body
                            img(src="./assets/images/img1.jpg", alt="", width="125", height="175").podcast-list__list-img
                            .podcast-list__list-info
                                .podcast-list__list-name Вишнякова Марина Александровна (Москва)
                                .podcast-list__list-description Ассистент кафедры клинической стоматологии ГБОУ ВПО МГМСУ им. Евдокимова А.И.
                                .podcast-list__list-button-wrap
                                    a(href="#").button.podcast-list__list-button Слушать
                                    span.podcast-list__list-time Длительность: 32 минуты

                    li.podcast-list__list-item
                        h4.podcast-list__list-h Вебинар №4 «Ортопедическая реабилитация пациентов с пародонтитом в анамнезе»
                        .podcast-list__list-body
                            img(src="./assets/images/img1.jpg", alt="", width="125", height="175").podcast-list__list-img
                            .podcast-list__list-info
                                .podcast-list__list-name Вишнякова Марина Александровна (Москва)
                                .podcast-list__list-description Ассистент кафедры клинической стоматологии ГБОУ ВПО МГМСУ им. Евдокимова А.И.
                                .podcast-list__list-button-wrap
                                    a(href="#").button.podcast-list__list-button Слушать
                                    span.podcast-list__list-time Длительность: 32 минуты
