// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;
// Шрифт
$font-primary: "Montserrat", sans-serif;

// main-slider
.main-slider {
	width: 100%;
	height: 450px;
}

.main-slider__item-wrap {
	background: linear-gradient(90deg, #0076c9 0%, rgba(0, 61, 104, 0) 100%), #22b4d5;
}

.main-slider__item {
	position: relative;
}

.main-slider__h {
	max-width: 516px;
	margin-top: 90px;
	color: $color-Wheat;
}

.main-slider__button {
	margin-top: 70px;
}

.main-slider__logo {
	position: absolute;
	top: 66px;
	left: 551px;
}

// video-main
.video-main__wrap {
	background-color: #ebebf4;
}

.video-main {
	display: flex;
	flex-direction: column;
	padding: 70px 0 80px 0;
}

.video-main__head {
	display: flex;
	margin-bottom: 50px;
	align-items: center;
}

.video-main__filter {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 30px;
	margin-left: 40px;
}

.video-main__body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 180px;
	grid-gap: 30px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 50px;
}

.video-main__item {
	z-index: 1;
	transition: z-index 500ms ease 0ms;

	&:hover {
		z-index: 2;

		.video-main__linc-bot {
			top: 100%;
			visibility: visible;
			opacity: 1;
		}

		.video-main__linc-img {
			border-radius: 10px 10px 0 0;
		}
	}

	&:first-child {
		grid-column: 1 / 3;
		grid-row: 1 / 3;

		.video-main__linc-bot {
			height: calc(50% + 15px);
			top: 50%;
		}

		&:hover .video-main__linc-bot {
			top: 100%;
		}
	}
}

.video-main__linc {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 10px;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
	background-color: $color-Wheat;
	text-decoration: none;
	color: $color-Black;
	font-size: 16px;
	line-height: 20px;
}

.video-main__linc-body {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}

.video-main__linc-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-color: $color-Wheat;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.video-main__linc-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;

	transition: border-radius 200ms ease 0ms;
}

.video-main__linc-bot {
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(100% + 30px);
	border-radius: 0 0 10px 10px;
	background-color: $color-Wheat;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	z-index: 1;

	transition: 300ms ease-in-out 0ms;
	transition-property: top, visibility, opacity;
	top: 0;
	visibility: hidden;
	opacity: 0;
}

.video-main__linc-text {
	margin: 0;
}

.video-main__linc-button {
	align-self: center;
	margin-top: auto;
}

.video-main__button {
	align-self: center;
}

// articles-main
.articles-main {
	margin-bottom: 75px;
	display: flex;
	flex-direction: column;
}

.articles-main__h {
	margin-bottom: 55px;
}

.articles-main__button {
	margin-top: 60px;
	align-self: center;
}

// training-centers
.training-centers__wrap {
	background-color: #ebebf4;
}

.training-centers {
	margin: 70px 0 90px 0;
}

.training-centers__h {
	margin-bottom: 50px;
}

.train-linc {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(250px, auto);
	grid-gap: 30px;
}

.train-linc__item {
	border-radius: 10px;
	background: linear-gradient(105.98deg, #0e90cd 0%, #22b4d4 61.13%);
	padding: 35px 25px 25px 25px;
	color: $color-Wheat;
	display: flex;
	flex-direction: column;
}

.train-linc__item_purple {
	background: linear-gradient(105.98deg, #4047d2 0%, #8d67dd 61.13%);
}

.train-linc__head {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 7px;
	margin-bottom: 20px;
}

.train-linc__h {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin: 0;
}

.train-linc__adres {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;

	svg {
		margin-right: 10px;
	}
}

.train-linc__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 10px 0;
}

.train-linc__linc {
	display: inline-flex;
	align-items: center;
	margin-top: auto;
	font-weight: 600;
	font-size: 16px;
	color: $color-Wheat;
	text-decoration: none;

	svg {
		margin-left: 8px;
		--icon-color: #{$color-Wheat};
		--icon-stroke-width: 2;
		transform: rotate(-90deg);
	}
}

// reviews
.reviews {
	margin: 80px 0;
}

.reviews__h {
	margin-bottom: 50px;
}

.reviews-slider__wrap {
	position: relative;
}

.reviews-slider {
	.swiper-slide {
		padding: 2px 4px 7px 4px;
	}
}

.reviews-slider__item {
	width: 100%;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: $color-Wheat;
}

.reviews-slider__quotes {
	margin-bottom: 30px;
}

.reviews-slider__h {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	margin: 0 0 25px;
	text-align: center;
}

.reviews-slider__text {
	font-size: 14px;
	line-height: 140%;
	align-items: center;
	margin: 10px 0;
}

.reviews-slider__star {
	margin: 12px 0 42px;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 4px;

	svg {
		--srar-10: none;
		--srar-05: none;
	}
}

.reviews-slider__star[data-star="2"] > svg:nth-of-type(-n + 1),
.reviews-slider__star[data-star="3"] > svg:nth-of-type(-n + 1),
.reviews-slider__star[data-star="4"] > svg:nth-of-type(-n + 2),
.reviews-slider__star[data-star="5"] > svg:nth-of-type(-n + 2),
.reviews-slider__star[data-star="6"] > svg:nth-of-type(-n + 3),
.reviews-slider__star[data-star="7"] > svg:nth-of-type(-n + 3),
.reviews-slider__star[data-star="8"] > svg:nth-of-type(-n + 4),
.reviews-slider__star[data-star="9"] > svg:nth-of-type(-n + 4),
.reviews-slider__star[data-star="10"] > svg:nth-of-type(-n + 5) {
	--srar-10: #{$color-Black};
}
.reviews-slider__star[data-star="1"] > svg:nth-of-type(-n + 1),
.reviews-slider__star[data-star="3"] > svg:nth-of-type(-n + 2),
.reviews-slider__star[data-star="5"] > svg:nth-of-type(-n + 3),
.reviews-slider__star[data-star="7"] > svg:nth-of-type(-n + 4),
.reviews-slider__star[data-star="9"] > svg:nth-of-type(-n + 5) {
	--srar-05: #{$color-Black};
}

.reviews-slider__img {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	margin-bottom: 20px;
	object-fit: cover;
}

.reviews-slider__name {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

.reviews-slider__pagination {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	justify-content: center;
	margin-top: 22px;

	> .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #c4c4c4;
		opacity: 1;

		&.swiper-pagination-bullet-active {
			background-color: $color-Blue;
		}
	}
}

.reviews-slider__prev,
.reviews-slider__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	background-color: $color-Blue;
	border-radius: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	cursor: pointer;

	svg {
		--icon-color: #{$color-Wheat};
		--icon-stroke-width: 2;
	}
}
.reviews-slider__prev {
	left: -15px;

	svg {
		margin-right: 3px;
		transform: rotate(90deg);
	}
}

.reviews-slider__next {
	right: -15px;

	svg {
		margin-left: 3px;
		transform: rotate(-90deg);
	}
}

// .events
.events {
	margin: 60px 0 80px;
	display: flex;
	flex-direction: column;
}

.events__h {
	margin-bottom: 40px;
}

.events__filter-button-active {
	display: none;
	margin-bottom: 30px;
	width: max-content;

	svg {
		--icon-color: #{$color-Wheat};
	}
}

.events__filter {
	margin-top: -30px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 270px));
	grid-column-gap: 30px;
	grid-row-gap: 20px;
}

.events__filter-close {
	display: none;
}

.events__filter-h {
	display: none;
	// display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;

	svg {
		margin-right: 14px;
	}

	h4 {
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: -0.05em;
		margin: 0;
		color: #006484;
	}
}

.events__filter-switch {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.events__filter-button {
	display: none;
	margin-top: 10px;
	width: max-content;
	justify-self: center;
}

.events__list {
	margin: 0 0 50px;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.events__button {
	align-self: center;
}

.datepicker-main__wrap {
	padding: 30px 20px;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.datepicker-main,
.flatpickr-wrapper {
	position: relative;
	width: 100%;
	z-index: 10;
}

.flatpickr-calendar {
	display: none;
	position: absolute;
	padding: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	background-color: $color-Wheat;
	z-index: 110;

	&.open {
		display: block;
	}
}

.flatpickr-wrapper .flatpickr-calendar {
	display: block;
	position: static;
}

.datepicker-main > .flatpickr-calendar {
	display: block;
	position: static;
	padding: 0;
	box-shadow: none;
}

.datepicker-main,
.flatpickr-wrapper,
.flatpickr-calendar {
	.flatpickr-months {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		grid-column-gap: 10px;
		margin-bottom: 20px;
		padding: 0 12px;
	}

	.flatpickr-month {
		grid-column-start: 1;
	}

	.flatpickr-current-month {
		display: flex;
		align-items: center;
	}

	.flatpickr-monthDropdown-months {
		border: none;
		background: transparent;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		margin-right: 10px;
	}

	.flatpickr-monthDropdown-month {
		font-weight: 600;
		font-size: 16px;
	}

	.numInputWrapper {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;

		input.cur-year {
			border: none;
			background: transparent;
			margin: 0;
			padding: 0;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			width: 65px;
			grid-column-start: 1;
			grid-row: 1 / span 2;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				appearance: none;
				margin: 0;
			}

			&:focus {
				outline: none;
			}
		}

		.arrowUp,
		.arrowDown {
			display: block;
			width: 10px;
			height: 10px;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6567 1.17188L6.99987 6.82873L1.34302 1.17188' stroke='%23727272' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: 14px;
			background-position: center;
			align-self: start;
		}

		.arrowUp {
			transform: rotate(180deg);
			align-self: end;
		}
	}

	.flatpickr-prev-month,
	.flatpickr-next-month {
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			height: 18px;
			fill: $color-Blue;
			stroke-width: 1;
			stroke: $color-Blue;
		}
	}

	.flatpickr-weekdaycontainer,
	.dayContainer {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: 40px;
		align-items: center;
		justify-items: center;
	}

	.flatpickr-weekdaycontainer {
		margin-bottom: 10px;
	}

	.flatpickr-weekday {
		text-align: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	}

	.flatpickr-day {
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-weight: normal;
		font-size: 14px;
		font-feature-settings: "tnum" on, "lnum" on;
		position: relative;
		z-index: 2;

		&.prevMonthDay,
		&.nextMonthDay {
			color: $color-Grey-2;
		}

		&.today::before,
		&.selected::before,
		&.inRange::after,
		&.startRange::after,
		&.startRange::before,
		&.endRange::after,
		&.endRange::before,
		&:hover::before {
			content: "";
			position: absolute;
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 7px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}

		&:hover::before {
			background: #9ddff4;
			box-shadow: 0px 2px 6px rgba(0, 37, 46, 0.2);
		}

		&.today::before {
			border: 1px solid $color-Blue;
		}

		&.inRange::after,
		&.startRange::after,
		&.endRange::after {
			background-color: #9ddff4;
		}

		&.inRange::after {
			width: 102%;
			border-radius: 0;
			z-index: -2;
		}

		&.startRange::after {
			width: 52%;
			left: 50%;
			transform: translate(0, -50%);
			border-radius: 0;
			z-index: -2;
		}

		&.endRange::after {
			width: 52%;
			right: 50%;
			left: auto;
			transform: translate(0, -50%);
			border-radius: 0;
			z-index: -2;
		}

		&.startRange.endRange::after {
			content: none;
		}

		&.selected,
		&.endRange,
		&.startRange {
			color: $color-Wheat;

			&::before {
				background-color: $color-Blue;
				box-shadow: 0px 2px 6px rgba(0, 37, 46, 0.2);
			}
		}
	}
}

.mark-date-point {
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 150px;
	bottom: 1px;
	left: 50%;
	transform: translateX(-50%);
	content: " ";
	display: block;
	background-color: $color-Orange;
}

.mark-date {
	position: absolute;
	bottom: calc(100% - 8px);
	right: calc(100% - 8px);
	width: 280px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 20px;
	background-color: $color-Blue;
	color: $color-Wheat;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
	z-index: 10;
	transition: 250ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
	text-align: left;
}

.flatpickr-day:hover .mark-date {
	visibility: visible;
	opacity: 1;
}

.mark-date__item {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 5px;
}

.mark-date__time {
	font-size: 12px;
	line-height: 15px;
}

.mark-date__tupe {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.mark-date__name {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

.events__data-range {
	display: none;
}

@media screen and (max-width: 1274px) {
	.events__list {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 960px) {
	.train-linc {
		overflow-x: scroll;
		column-gap: 20px;
	}
	.train-linc__item {
		width: 370px;
	}
}

@media screen and (max-width: 768px) {
	.main-slider {
		height: 223px;
	}
	.main-slider__item {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.main-slider__h {
		margin-top: 0;
	}
	.main-slider__button {
		width: 150px;
		min-height: 40px;
		margin-top: 30px;
	}
	.main-slider__logo {
		width: 245px;
		height: auto;
		top: 98px;
		left: 67%;
	}
	.events__list {
		grid-template-columns: 100%;
		row-gap: 20px;
		margin-bottom: 30px;
	}
	.video-main {
		padding: 40px 0 45px;
	}
	.video-main__head {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 25px;
	}

	.video-main__filter {
		width: 100%;
		padding-bottom: 10px;
		margin-top: 15px;
		margin-left: 0;
		column-gap: 15px;
		overflow-x: scroll;
	}

	.video-main__body {
		grid-template-columns: 1fr 1fr;
		row-gap: 20px;
		margin-bottom: 30px;
	}
	.video-main__item:first-child {
		grid-column: auto;
		grid-row: auto;
	}
	.video-main__linc-bot {
		position: static;
		height: auto;
	}
	.articles-main {
		margin-bottom: 60px;
	}
	.articles-main__h {
		margin-bottom: 25px;
	}
	.articles-main__button {
		margin-top: 30px;
	}
	.training-centers {
		margin-top: 40px;
		margin-bottom: 56px;
	}
	.training-centers__h {
		margin-bottom: 30px;
	}
	.train-linc__item {
		width: 240px;
		padding: 25px 15px;
	}
	.train-linc__h {
		font-size: 18px;
		line-height: 22px;
	}
	.train-linc__adres {
		span {
			font-size: 12px;
			line-height: 15px;
		}
	}
	.train-linc__text {
		font-size: 14px;
		line-height: 17px;
	}
	.train-linc__linc {
		font-size: 14px;
		line-height: 17px;
	}
	.reviews {
		margin: 60px 0;
	}
	.reviews__h {
		margin-bottom: 25px;
	}
	.reviews-slider__wrap {
		.reviews-slider__pagination {
			display: none;
		}
		.reviews-slider__prev {
			display: none;
		}
		.reviews-slider__next {
			display: none;
		}
	}
	.reviews-slider {
		overflow: visible;
	}
	.reviews-slider__item {
		padding: 30px 15px 23px;
	}
	.reviews-slider__quotes {
		margin-bottom: 15px;
	}
	.reviews-slider__h {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	.reviews-slider__text {
		font-size: 12px;
		line-height: 140%;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.reviews-slider__star {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.reviews-slider__img {
		width: 79px;
		height: 79px;
		margin-bottom: 15px;
	}
	.reviews-slider__name {
		font-size: 14px;
		line-height: 17px;
	}

	.events__h {
		margin-bottom: 15px;
	}

	.events__filter-button-active {
		display: inline-flex;
	}

	.events__filter {
		position: fixed;
		overflow-y: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 110;
		background-color: #f8f8fd;
		padding: 30px 15px;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		align-content: start;
		grid-row-gap: 10px;
		margin: 0;

		transition: 250ms ease-in-out 0ms;
		transition-property: visibility, opacity;
		visibility: hidden;
		opacity: 0;

		&.active {
			visibility: visible;
			opacity: 1;
		}

		&::after {
			content: "";
			width: 1px;
			height: 1px;
			margin-top: -10px;
			padding-bottom: inherit;
		}
	}

	.events__filter-close {
		display: block;
	}

	.events__filter-h {
		display: flex;
	}

	.events__filter-switch {
		justify-self: flex-start;
	}

	.flatpickr-wrapper {
		margin-top: 10px;
	}

	.events__filter-button {
		display: flex;
	}

	.mark-date,
	.datepicker-main__wrap {
		display: none;
	}

	.flatpickr-wrapper > .event-select,
	.event-page__filter-name {
		display: none;
	}

	.flatpickr-wrapper > .flatpickr-calendar {
		padding: 20px 8px 10px 8px;
	}

	.datepicker-main .flatpickr-monthDropdown-months,
	.flatpickr-wrapper .flatpickr-monthDropdown-months,
	.flatpickr-calendar .flatpickr-monthDropdown-months,
	.datepicker-main .numInputWrapper input.cur-year,
	.flatpickr-wrapper .numInputWrapper input.cur-year,
	.flatpickr-calendar .numInputWrapper input.cur-year {
		font-size: 22px;
	}
}
@media screen and (max-width: 500px) {
	.video-main__button {
		width: 100%;
	}
	.articles-main__button {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.video-main__body {
		grid-template-columns: 1fr;
	}
}
