// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;
// Шрифт
$font-primary: "Montserrat", sans-serif;

// training-centers
.centers-page {
	margin-top: 30px;
}

.centers-page__h {
	margin: 0 0 40px;
}

.centers-page__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.centers-page__item {
	margin-bottom: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 470px;
	grid-column-gap: 30px;
}

.centers-page__map {
	border-radius: 10px;
	min-height: 450px;
	height: auto;
	width: 100%;

	ymaps {
		border-radius: 10px;
	}
}

.centers-page__content {
	background-color: $color-Wheat;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 35px 30px 25px;
}

.centers-page__item-h {
	font-weight: bold;
	font-size: 18px;
	line-height: auto;
	margin: 0 0 20px;
}

.centers-page__item-icon-text {
	margin: 10px 0;
	display: flex;
	align-items: flex-start;
	color: $color-Black;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	svg {
		margin-top: -2px;
		margin-right: 14px;
		--icon-color: #{$color-Blue};
	}
}

.centers-page__item-text {
	margin: 30px 0;

	p {
		margin: 10px 0;
		font-size: 16px;
		line-height: 20px;
	}
}

.order-training {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: $color-Wheat;
	padding: 30px;
	display: flex;
	align-items: flex-start;
}

.order-training__logo {
	margin-right: 30px;
	flex-shrink: 0;
	--icon-color: #004065;
}

.order-training__h {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 10px;
}

.order-training__p {
	font-size: 16px;
	line-height: 1.25;
	margin: 10px 0;
}

.order-training__button {
	margin-top: 30px;
}

@media screen and (max-width: 960px) {
	.centers-page__item {
		grid-gap: 10px;
		grid-auto-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	.centers-page__item {
		display: block;
	}

	.centers-page__map {
		height: 200px;
		min-height: 200px;
		margin-bottom: 10px;
	}

	.centers-page__content {
		padding: 20px 15px;
	}

	.centers-page__item-text {
		margin: 20px 0;

		p {
			font-size: 14px;
			line-height: 17px;
		}
	}

	.centers-page__item-h {
		font-size: 16px;
		line-height: 20px;
	}

	.order-training {
		flex-direction: column;
	}

	.order-training__logo {
		width: 80px;
		height: 80px;
		margin: 0 0 30px;
	}

	.order-training__p {
		font-size: 14px;
	}

	.order-training__button {
		margin-top: 15px;
	}
}
