// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;
// Шрифт
$font-primary: "Montserrat", sans-serif;

// regist
.regist__wrap {
	position: relative;
	background-color: $color-Wheat;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 50%;
		bottom: 0;
		left: 0;
		background: linear-gradient(105.98deg, #0e90ce 0%, #22b4d4 61.13%);
		z-index: 1;
	}
}

.regist {
	position: relative;
	overflow: hidden;
}

.regist__icon {
	position: absolute;
	top: 50%;
	left: 38%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.regist__body-wrap {
	position: relative;
	max-width: 700px;
	width: 100%;
	min-height: 660px;
	padding: 50px 0 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-Wheat;
	margin-left: auto;
	z-index: 10;
}

.regist__body {
	max-width: 400px;
	width: 100%;
}

.regist__h {
	margin: 0 0 30px;
}

.regist__form {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;

	.popups__user-agreement {
		margin-top: 30px;
		margin-bottom: 10px;
	}
}

.regist__login-linc {
	display: grid;
	grid-auto-flow: column;
	align-items: baseline;
	justify-content: start;
	grid-gap: 15px;
	margin-top: 30px;
}

.regist__form-button {
	justify-self: start;
}

.login__form-button {
	justify-self: start;
	margin-top: 30px;
}

.regist__body-icon {
	margin-bottom: 30px;
}

.regist__text {
	margin: 30px 0 50px;

	p {
		font-size: 16px;
		line-height: 20px;
		margin: 10px 0;
	}
}

// lk
.lk {
	margin-top: 40px;
	margin-bottom: 120px;
}

.lk__h {
	margin: 0 0 40px;
}

.lk__content-wrap {
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-column-gap: 30px;
	align-items: start;
}

.lk__nav {
	--transition-duration: 250ms;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	> * {
		order: 10;
	}
}

.lk__nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;

	transition: var(--transition-duration) ease-in-out 0ms;
	transition-property: height, opacity;
}

.lk__nav-collapse-controll {
	border: none;
	padding: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: $color-Blue;
	color: $color-Wheat;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	display: none;

	svg {
		--icon-stroke-width: 2;
		--icon-color: #{$color-Wheat};
		transition: transform var(--transition-duration) ease-in-out 0ms;
	}

	&.active svg {
		transform: rotate(-180deg);
	}
}

.lk__nav-linc {
	display: block;
	padding: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: $color-Wheat;
	text-decoration: none;
}

.lk__nav-item.active > .lk__nav-linc {
	background-color: $color-Blue;
	color: $color-Wheat;
}

.lk__nav-logout {
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: $color-Grey-2;
	padding: 20px;
	text-decoration: none;
}

.lk__evnt-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
	margin-bottom: 30px;
}

.lk__none-text {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: $color-Grey-2;
}

.lk__content-h {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 20px;
}

.personal-data {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

.personal-data__name {
	font-size: 14px;
	line-height: 17px;
	color: $color-Grey-2;
	margin-bottom: 0;
}

.lk__content-button-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 30px;
	justify-content: start;
	margin-top: 30px;
}

.personal-dat-edit {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 5px;
}

.personal-dat-edit__button {
	margin-top: 15px;
	justify-self: start;
}

@media screen and (max-width: 980px) {
	.lk__content-wrap {
		grid-template-columns: 240px 1fr;
	}
}

// @media screen and (max-width: 820px) {

// }

@media screen and (max-width: 768px) {
	.regist__wrap::before {
		content: none;
	}

	.regist__body-wrap {
		padding: 30px 0;
		min-height: auto;
	}

	.regist__icon {
		display: none;
	}

	.lk__h {
		margin-bottom: 10px;
	}

	.lk__content-wrap {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	}

	.lk__nav-logout {
		order: 1;
		margin-bottom: 30px;
		padding: 0;
	}

	.lk__nav-collapse-controll {
		display: flex;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.lk__nav-linc {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.lk__nav-item.active {
		display: none;
	}

	.lk__nav-list {
		padding: 0 15px;
		margin: 0 -15px;
		opacity: 0;
		height: 1px;
		overflow: hidden;

		&::after {
			display: block;
			content: "";
			height: 1px;
			width: 1px;
		}

		&.active {
			opacity: 1;
		}
	}
}
