@import "./common/fonts.scss";

// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;

// Шрифт
$font-primary: "Montserrat", sans-serif;

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select,
button {
	appearance: none;
	font-family: $font-primary;
}

//временно
html {
	overflow-x: hidden;
}

body {
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.62;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #f8f8fd;
	position: relative;
}

.h1 {
	font-weight: 500;
	font-size: 44px;
	line-height: 54px;
	letter-spacing: -0.05em;
	margin: 0;
	color: $color-Dark-blue;
}

.container-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.container-item {
	width: 100%;
	max-width: 1170px;
}

.container-item_article {
	max-width: 770px;
}

// button
.button {
	margin: 0;
	padding: 6px 26px;
	border: 2px solid $color-Blue;
	border-radius: 50px;
	background-color: $color-Blue;
	font-family: $font-primary;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	color: $color-Wheat;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 45px;
	box-shadow: 0 0 7px rgba(15, 169, 218, 0.3);
	transition: 150ms ease-in-out 0ms;
	transition-property: background-color, border-color;
	cursor: pointer;

	svg {
		margin-right: 8px;
	}

	&:hover {
		background-color: #0d93bd;
		border-color: #0d93bd;
	}
}

.button_wheat {
	color: $color-Blue;
	background-color: $color-Wheat;
	border-color: $color-Wheat;
	box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);

	&:hover {
		color: $color-Wheat;
		border-color: $color-Wheat;
		background-color: transparent;

		svg {
			--icon-color: #{$color-Wheat};
		}
	}
}

.button_green {
	background-color: #62b766;
	border-color: #62b766;
	box-shadow: 0px 0px 7px #62b766;

	&:hover {
		background-color: #4e9752;
		border-color: #4e9752;
	}
}

.button_ghost-double,
.button_ghost {
	background-color: transparent;
	color: $color-Blue;

	&:hover {
		color: $color-Wheat;
		background-color: $color-Blue;
		border-color: $color-Blue;
	}
}

.button_ghost-double {
	flex-direction: column;
	padding-top: 2px;
	padding-bottom: 2px;
}

.button_ghost__top {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
}

.button_ghost__bot {
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

// radio-button
.radio-button {
	display: inline-block;
}

.radio-button__button {
	min-height: 40px;
	padding: 5px 20px;
	border: 2px solid $color-Blue;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	color: $color-Blue;
	background-color: transparent;
	cursor: pointer;
	transition: 100ms ease-in-out 0ms;
	transition-property: background-color, border-color, color;
	white-space: nowrap;

	&:hover {
		color: $color-Blue3;
		border-color: $color-Blue3;
	}
}

.radio-button__input {
	display: none;

	&:checked ~ .radio-button__button {
		color: $color-Wheat;
		background-color: $color-Blue;

		&:hover {
			background-color: $color-Blue3;
		}
	}
}

// input
.input {
	min-height: 45px;
	width: 100%;
	padding: 6px 15px 5px 15px;
	margin: 0;
	border: 1px solid #c4c4c4;
	background-color: $color-Wheat;
	font-size: 14px;
	line-height: 17px;
	border-radius: 10px;
	color: $color-Black;

	&:focus {
		border-color: $color-Grey-4;
		outline: none;
	}

	&::placeholder {
		color: #c4c4c4;
	}

	&.error {
		border-color: #df0000;
	}
}

textarea.input {
	height: 90px;
	min-height: 90px;
	max-height: 200px;
	resize: vertical;
}

.input_file {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;

	input {
		visibility: hidden;
		position: absolute;
		opacity: 0;
	}

	span {
		color: #c4c4c4;

		&.active {
			color: $color-Black;
		}
	}
}

.input_file__icon {
	position: relative;
	background-color: $color-Blue;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	margin: 0 15px 0 -5px;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

select.input:invalid {
	color: #c4c4c4;

	option {
		color: $color-Black;
	}
}

.switch {
	display: flex;
	align-items: center;
	cursor: pointer;

	.switch__input,
	input {
		display: none;
	}
}

.switch__item {
	width: 30px;
	height: 16px;
	box-sizing: border-box;
	border-radius: 16px;
	border: 1px solid $color-Grey-4;
	background-color: $color-Wheat;
	position: relative;
	margin-right: 10px;

	transition: 150ms ease-in-out 0ms;
	transition-property: background-color, border-color, left;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 1px;
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
		border-radius: 12px;
		background-color: $color-Grey-4;
		transition: inherit;
	}
}

.switch__input:checked ~ .switch__item {
	border-color: $color-Blue;

	&::before {
		left: 15px;
		background-color: $color-Blue;
	}
}

// breadcrumbs
.breadcrumbs__item {
	color: #717171;
	font-size: 14px;
	line-height: 30px;
	display: inline;
	margin-right: 8px;
	padding: 0 1px;

	svg {
		display: inline;
		margin-left: 15px;
		transform: rotate(-90deg);
		--icon-color: #717171;
		margin-bottom: 1px;
	}

	&:last-child svg {
		display: none;
	}
}

// pagination
.pagination {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	align-items: center;
}

.pagination_ctnter {
	justify-content: center;
}

.pagination__prev,
.pagination__next {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-Blue;

	svg {
		width: 17px;
		height: auto;
		--icon-color: #{$color-Wheat};
	}

	&:not([href]) {
		background-color: #e4e4e4;
	}

	&:hover {
		background-color: $color-Blue2;
	}
}

.pagination__prev svg {
	transform: rotate(90deg);
}
.pagination__next svg {
	transform: rotate(-90deg);
}

.pagination__number {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: $color-Black;
	text-decoration: none;

	&:not([href]) {
		color: $color-Blue;

		&:hover {
			color: $color-Blue;
		}
	}

	&:hover {
		color: $color-Grey-4;
	}
}

// linc-arrow
.linc-arrow {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: $color-Blue;
	text-decoration: none;

	svg {
		margin-right: 10px;
		transform: rotate(90deg);
		--icon-stroke-width: 1.5;
	}

	&:hover {
		color: $color-Blue3;

		svg {
			--icon-color: #{$color-Blue3};
		}
	}
}

.linc-arrow_r svg {
	margin-right: 0;
	margin-left: 10px;
	transform: rotate(-90deg);
}

// audio-player
.audio-player {
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 118, 201, 0.1);
	border-radius: 10px;
	background-color: $color-Wheat;
	padding: 35px;

	audio {
		visibility: hidden;
		position: absolute;
	}
}

.audio-player__progres_wrap {
	margin-top: 10px;
	width: 100%;
	margin-bottom: 10px;
}

.audio-player__progres {
	width: 100%;
	height: 15px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		height: 2px;
		background-color: $color-Grey;
		z-index: 1;
	}

	input {
		position: relative;
		display: block;
		opacity: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		margin: 0;
		padding: 0;
		z-index: 10;
	}

	.audio-player__progres-mimic {
		position: absolute;
		top: 50%;
		left: 8px;
		right: 8px;
		transform: translateY(-50%);
		height: 2px;
		z-index: 2;
		--progres: 0;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			width: calc(var(--progres, 0%) + 8px);
			bottom: 0;
			left: -8px;
			background-color: $color-Blue;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: var(--progres, 0%);
			width: 16px;
			height: 16px;
			border-radius: 15px;
			background-color: $color-Blue;
		}
	}
}

.audio-player__time-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: $color-Grey;
}

.audio-player__time-end {
	text-align: right;
}

.audio-player__control-wrap {
	display: grid;
	grid-template-columns: 1fr repeat(3, auto) 1fr;
	grid-column-gap: 40px;
	align-items: center;
}

.audio-player__rewind,
.audio-player__play-pause,
.audio-player__volume-button {
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;
	border-radius: 0;
	cursor: pointer;
}

.audio-player__rewind {
	width: 32px;
	height: 32px;
	position: relative;
}

.audio-player__rewind-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	color: $color-Blue;
}

.audio-player__rewind_back {
	grid-column-start: 2;
}
.audio-player__rewind_forward {
	grid-column-start: 4;

	.audio-player__rewind-icon {
		transform: scaleX(-1);
	}
}

.audio-player__play-pause {
	position: relative;
	display: block;
	width: 46px;
	height: 46px;
	border-radius: 45px;
	border: 2px solid $color-Blue;

	.audio-player__icon-pause {
		opacity: 0;
	}

	&.active {
		.audio-player__icon-pause {
			opacity: 1;
		}
		.audio-player__icon-play {
			opacity: 0;
		}
	}
}

.audio-player__icon-play,
.audio-player__icon-pause {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.audio-player__volume {
	grid-column-start: 5;
	justify-self: end;
	width: 22px;
	height: 22px;
	position: relative;

	.audio-player__volume-progres {
		visibility: hidden;
		opacity: 0;
	}

	&:hover {
		.audio-player__volume-progres {
			visibility: visible;
			opacity: 1;
		}
	}
}

.audio-player__volume-progres {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
	width: 200px;
	height: 30px;
	padding: 0 10px;
	margin-right: 10px;
	transition: 180ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	background-color: $color-Wheat;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 100%;
		height: 100%;
		width: 10px;
	}
}

.audio-player__volume-button {
	display: block;
	width: 22px;
	height: 22px;
}

// popups
.popups__wrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;

	transition: 250ms ease-in-out 0ms;
	transition-property: visibility, opacity;
	visibility: hidden;
	opacity: 0;
}

.popups__wrap.active {
	visibility: visible;
	opacity: 1;
}

.popups__close-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(2, 2, 2, 0.7);
}

.popups {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: $color-Wheat;
	padding: 40px 30px;
	width: calc(100% - 20px);
	max-width: 630px;
	min-height: 280px;
	max-height: calc(100% - 20px);
	overflow: auto;
	z-index: 2;
}

.popups__close {
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

.popups__h {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	font-feature-settings: "tnum" on, "lnum" on;
	color: $color-Blue;
	margin: 0 0 10px;
}

.popups__text {
	margin: 10px 0;
}

.popups__input-wrap {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}

.popups__user-agreement {
	font-size: 14px;
	line-height: 17px;
	color: $color-Grey-2;
	margin: 10px 0 5px;

	a {
		color: $color-Grey-2;
	}
}

.popups__button {
	min-width: 215px;
	justify-self: start;
}

// close-button
.close-button {
	position: absolute;
	top: 25px;
	right: 20px;
	margin: 0;
	padding: 0;
	border: none;
	background: transparent;

	svg {
		display: block;
	}
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./pages/pages.scss";
@import "./pages/pages2.scss";
@import "./pages/pages3.scss";
@import "./common/component.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

@media screen and (max-width: 768px) {
	.h1 {
		font-size: 24px;
		line-height: 29px;
	}
	.button {
		min-height: 40px;
	}
	.radio-button__button {
		min-height: 30px;
		font-size: 12px;
		line-height: 15px;
	}
	.breadcrumbs {
		display: none;
	}

	.audio-player {
		padding: 15px;
	}

	.audio-player__control-wrap {
		grid-column-gap: 20px;
	}

	.popups {
		padding: 40px 15px 20px 15px;
	}

	.popups__h {
		font-size: 18px;
		line-height: 22px;
		text-align: center;
	}

	.popups__text {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
	}

	.popups__button {
		justify-self: center;
	}

	.popups__input-wrap {
		margin-top: 30px;
	}
}

.map {
	a {
		font-size: 18px;
		font-weight: 500;
		color: $color-Orange;
	}
}
