@import "./common/fonts.scss";

// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;

// Шрифт
$font-primary: "Montserrat", sans-serif;

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	appearance: none;
	font-family: $font-primary;
}

body {
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.62;
	margin: 0;
	padding: 0;
}

.h1 {
	font-weight: 500;
	font-size: 44px;
	line-height: 54px;
	letter-spacing: -0.05em;
	margin: 0;
	color: $color-Dark-blue;
}

.container-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.container-item {
	width: 100%;
	max-width: 1170px;
}

.button {
	margin: 0;
	padding: 6px 26px;
	border: 2px solid $color-Blue;
	border-radius: 50px;
	background-color: $color-Blue;
	font-family: $font-primary;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	color: $color-Wheat;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 45px;
	box-shadow: 0 0 7px rgba(15, 169, 218, 0.3);
	transition: 150ms ease-in-out 0ms;
	transition-property: background-color, border-color;
	cursor: pointer;

	svg {
		margin-right: 8px;
	}

	&:hover {
		background-color: #0d93bd;
		border-color: #0d93bd;
	}
}

.button_wheat {
	color: $color-Blue;
	background-color: $color-Wheat;
	border-color: $color-Wheat;
	box-shadow: 0 0 7px rgba(255, 255, 255, 0.3);

	&:hover {
		color: $color-Wheat;
		border-color: $color-Wheat;
		background-color: transparent;

		svg {
			--icon-color: #{$color-Wheat};
		}
	}
}

.button_ghost {
	background-color: transparent;
	color: $color-Blue;

	&:hover {
		color: $color-Wheat;
		background-color: $color-Blue;
		border-color: $color-Blue;
	}
}

// radio-button
.radio-button {
	display: inline-block;
}

.radio-button__button {
	min-height: 40px;
	padding: 5px 20px;
	border: 2px solid $color-Blue;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	color: $color-Blue;
	background-color: transparent;
	cursor: pointer;
	transition: 100ms ease-in-out 0ms;
	transition-property: background-color, border-color, color;

	&:hover {
		color: $color-Blue3;
		border-color: $color-Blue3;
	}
}

.radio-button__input {
	display: none;

	&:checked ~ .radio-button__button {
		color: $color-Wheat;
		background-color: $color-Blue;

		&:hover {
			background-color: $color-Blue3;
		}
	}
}

// input
.input {
	min-height: 45px;
	width: 100%;
	padding: 6px 15px 5px 15px;
	margin: 0;
	border: 1px solid #c4c4c4;
	background-color: $color-Wheat;
	font-size: 14px;
	line-height: 17px;
	border-radius: 10px;
	color: $color-Black;

	&:focus {
		border-color: $color-Grey-4;
		outline: none;
	}

	&::placeholder {
		color: #c4c4c4;
	}
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./pages/pages.scss";
@import "./common/component.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
