// Цвета
$color-Black: #333333;
$color-Wheat: #ffffff;
$color-Blue: #0fa9da;
$color-Blue2: #6aafc6;
$color-Blue3: #00769c;
$color-Blue4: #9ddff4;
$color-Dark-blue: #006484;
$color-Grey: #c4c4c4;
$color-Grey-2: #a1a1a1;
$color-Grey-3: #efefef;
$color-Grey-4: #727272;
$color-Orange: #f87803;
// Шрифт
$font-primary: "Montserrat", sans-serif;

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	font-family: $font-primary;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.62;
	margin: 0;
	padding: 0;
}

.container-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-item {
	width: 100%;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

.button {
	margin: 0;
	padding: 6px 34px;
	border: 2px solid $color-Blue;
	background-color: $color-Blue;
	font-family: $font-primary;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: $color-Wheat;
	box-shadow: 0px 0px 7px rgba(15, 169, 218, 0.3);
	border-radius: 50px;
	display: flex;
}

@import "./common/header.scss";
@import "./pages/index.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1274px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
