footer.container-wrap.footer__wrap
    .container-item.footer
        .footer__body
            a(href="#").footer__logo
                svg(width="205", height="40")
                    use(xlink:href="./assets/images/sprite.svg#main-logo")
            
            nav.footer__menu.footer-menu
                ul.footer-menu__list
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Клуб Tokuyama Dental
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Мероприятия
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Курсы
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Спикеры
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Галерея
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Видео
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Наши учебные центры
                    li.footer-menu__item
                        a(href="#").footer-menu__linc FAQ
                    li.footer-menu__item
                        a(href="#").footer-menu__linc Статьи
            
            .footer__contact
                .footer__contact-tell
                    a(href="tel:+78126358890") +7 (812) 635-88-90
                    a(href="tel:+79217618890") +7 (921) 761-88-90
                .footer__contact-adre 196128, Санкт-Петербург, <br>ул. Варшавская, д.5, корп. 2, офис 401, <br>БЦ "Варшавский"

            ul.footer__social
                li.footer__social-item
                    a(href="#").footer__social-linc
                        svg(width="25", height="25")
                            use(xlink:href="./assets/images/sprite.svg#icon-soc-fb")
                li.footer__social-item
                    a(href="#").footer__social-linc
                        svg(width="25", height="25")
                            use(xlink:href="./assets/images/sprite.svg#icon-soc-vk")
                li.footer__social-item
                    a(href="#").footer__social-linc
                        svg(width="25", height="25")
                            use(xlink:href="./assets/images/sprite.svg#icon-soc-tw")
                li.footer__social-item
                    a(href="#").footer__social-linc
                        svg(width="25", height="25")
                            use(xlink:href="./assets/images/sprite.svg#icon-soc-in")
                li.footer__social-item
                    a(href="#").footer__social-linc
                        svg(width="25", height="25")
                            use(xlink:href="./assets/images/sprite.svg#icon-soc-yt")

        .footer__bot
            span.footer__bot-linc 2020 © PROTECO
            a(href="").footer__bot-linc Пользовательское соглашение
            span.footer__bot-linc Сайт сделал: 
                a(href="").footer__bot-linc-ra RA-Studio