.container-wrap.header-event__wrap
    .container-item.header-event
        .header-event__heading 
        .header-event__text 
        a(href="#").button.header-event__button Присоединиться

header.header