section.container-wrap.training-centers__wrap
    .container-item.training-centers
        h2.h1.training-centers__h Наши учебные центры
        ul.training-centers__train-linc.train-linc
            li.train-linc__item
                .train-linc__head
                    h3.train-linc__h Москва
                    .train-linc__adres
                        svg(width="14", height="20")
                            use(xlink:href="./assets/images/sprite.svg#icon-point")
                        span ул. Варшавская, д.5, корп. 2, офис 401
                p.train-linc__text В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. 

                a(href="#").train-linc__linc Подробнее
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
            
            li.train-linc__item
                .train-linc__head
                    h3.train-linc__h Санкт-Петербург
                    .train-linc__adres
                        svg(width="14", height="20")
                            use(xlink:href="./assets/images/sprite.svg#icon-point")
                        span Проспект Андропова 18, к.1
                p.train-linc__text В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. 

                a(href="#").train-linc__linc Подробнее
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
            
            li.train-linc__item.train-linc__item_purple
                .train-linc__head
                    h3.train-linc__h Заказать обучение в своей клинике
                p.train-linc__text В центре проводятся мастер-классы, вебинары, лекции самыми лучшими специалистами в своей области. 

                a(href="#").train-linc__linc Подробнее
                    svg(width="14", height="8")
                        use(xlink:href="./assets/images/sprite.svg#icon-arrow")
