// 100: Thin
// 200: Extra Light (Ultra Light)
// 300: Light
// 400: Normal
// 500: Medium
// 600: Semi Bold (Demi Bold)
// 700: Bold
// 800: Extra Bold (Ultra Bold)
// 900: Black (Heavy)

// Скачать оптимизированные google шрифты  https://google-webfonts-helper.herokuapp.com/fonts
/* montserrat-regular - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
